body {
  &.open-menu {
    &::after {
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 101;
    }
  }
}

.mobile-menu {
  // overflow-y: clip;
  top: 0px;
  right: 0;
  bottom: 0;
  margin-left: auto;
  height: 100vh;
  position: relative;
  padding: 24px 4px 24px;

  width: 100%;

  z-index: 200;
  transition: transform 0.4s linear;

  &.active {
    transform: translateX(0);
  }
  .header-menu {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 0 0 24px 0;

    .branding {
      display: flex;
      align-items: center;

      .logo-mobile {
        margin-right: 8px;
        filter: invert(1) grayscale(1);
      }

      p {
        color: var(--text-white);
        font-size: rem(10);
      }
    }

    .right-side-header {
      .avisos-container {
        margin-right: 40px;
      }
    }

    .div-menu-open {
      display: flex;
      align-items: center;

      p {
        color: var(--text-white);

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  .menu-tools {
    display: block;
    margin-top: 16px;

    .div-pesquisar-mobile {
      display: flex;
      gap: 8px;
      padding: 6px;
      border: 1px solid var(--grey-scale-02);
      border-radius: 4px;

      button {
        margin: 0;
        background: none;
        border: none;
        display: flex;
        align-items: center;

        i {
          &::before {
            color: #1d1d1d;
          }
        }
      }

      input {
        border: none;
        outline: none;
        font-size: rem(16);
        font-family: var(--font-text-2);
        width: 100%;
        background: none;
        color: #1d1d1d;

        &::placeholder {
          color: #1d1d1d;
        }
      }
    }

    > p {
      font-size: rem(12);
      color: #1d1d1d;
      margin-top: 8px;
    }
  }

  .institucional-and-language {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 14px;
    margin-top: 32px;
    margin-bottom: 16px;

    > a {
      color: var(--text-white);
    }

    ul {
      display: flex;
      align-items: center;

      padding-left: 0;

      margin-bottom: 0;

      li {
        a {
          color: var(--text-white);
          text-decoration: none;
        }

        &:nth-child(1) {
          a {
            display: flex;
            align-items: center;

            &::after {
              content: "";
              display: block;
              height: 16px;
              width: 1px;
              background-color: var(--text-white);
              margin-left: 8px;
            }
          }
        }

        &:not(:last-child) {
          a {
            margin-right: 8px;
          }
        }

        &:not(.active) {
          a {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .nav-mobile {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
    position: relative;
    max-width: 100%;

    /*
		&::after{
			content: "";
			width: 1px;
			height: 253px;
			background-color: var(--text-azul-2);
			display: block;
			position: absolute;
			right: 0;
			top: 0;

			@media (max-width: 767px){
				content: none;
			}
		}*/

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .accordion-item {
      margin-bottom: 19px;
      background: none;
      border: none;
      color: var(--text-white);
      text-decoration: none;

      .accordion-collapse {
        background-color: transparent;
      }

      h3 {
        margin: 0;
        padding-top: 0;
      }

      .accordion-button {
        padding: 0px;
        position: relative;
        border-radius: 0;
        background: transparent;
        gap: 10px;
        align-items: center;

        color: var(--Menu-Canal-color-menu-canal-default, #474747);

        /* Menu/Mobile/default */
        font-family: Verdana;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */

        &::after {
          content: none;
        }

        &::before {
          display: none !important;

          content: "\e900";
          font-family: var(--font-icomoon);
          transform: rotate(0deg);
          background-image: none;
          display: block;
          transition: 0.4s ease;
          height: auto;
          width: auto;
          font-weight: 200;
          margin-left: 0;
          color: var(--text-white);
        }

        &:not(.collapsed) {
          &::before {
            transform: rotate(180deg);
          }
        }

        &:not(.collapsed) {
          background: none;
          border-bottom: none;
          box-shadow: none;
          color: #008f85;
          padding-bottom: 8px;
          border-bottom: 1px solid #008f85;
        }
      }

      .accordion-body {
        padding: 0;

        .pages {
          padding-left: 0px;
          margin: 0px;
          margin-top: 8px;

          li {
            list-style: none;
            margin-bottom: 0px;
            padding: 8px 16px;
            background-color: #474747;

            a {
              text-decoration: none;
              color: var(--Menu-Pgina-color-menu-page-text-default, #fff);

              /* Body/lg-regular */
              font-family: Verdana;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 24px */
            }

            /*
						&.link-externo{
							a{
								display: flex;
								align-items: center;
								gap: 8px;

								&::after{
									content: url("../images/icon/icon-externo.svg");
									height: 18px;
								}
							}
						}*/
          }
        }
      }
    }
  }

  .languages {
    display: flex;
    align-items: center;
    color: var(--text-white);
    gap: 8px;

    @media (max-width: 991px) {
      display: none;
    }

    > a {
      display: none;
      align-items: center;
      gap: 8px;

      &.active {
        display: flex;
      }
    }

    small {
      margin: 0;
      line-height: normal;
    }
  }
}

.mobile-menu-div {
  position: fixed;
  z-index: 200;
  max-width: 500px;
  width: 100%;
  height: 100%;
  transform: translateX(500px);
  transition: 0.6s;
  right: 0;
  background-color: #fff;

  .container {
    overflow: auto !important;
    padding-bottom: 64px;
  }

  .menu-body {
    display: flex;
  }

  &.active {
    transform: translateX(0px);
    overflow: auto;
    padding-bottom: 64px;

    .mobile-menu {
      right: 0;

      .toggle-mobile-menu {
        span {
          transform: rotate(45deg);
          background-color: #1d1d1d;

          &::before {
            top: 0;
            background: var(--text-whtie);
            transform: rotate(90deg);
          }

          &::after {
            bottom: 0;
            background-color: #1d1d1d;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

.itens-fundos-menu {
  padding: 40px;
  display: flex;

  .tijolos {
    padding-right: 16px;
    border-right: 1px solid gray;
    display: flex;
    gap: 12px;
    flex-direction: column;

    h6 {
      margin: 0;
      padding: 0;
      color: var(--Grayscale-grayscale-color-900, #fff);
      font-family: Verdana;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
    }

    a {
      margin: 0;
      padding: 0;
      text-decoration: none;

      color: var(--Grayscale-grayscale-color-800, #fafafa);

      /* Body/lg-regular */
      font-family: Verdana;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }

  .papel {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h6 {
      margin: 0;
      padding: 0;
      text-decoration: none;

      color: var(--Grayscale-grayscale-color-900, #fff);
      font-family: Verdana;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
    }

    a {
      margin: 0;
      padding: 0;

      color: var(--Grayscale-grayscale-color-800, #fafafa);

      /* Body/lg-regular */
      font-family: Verdana;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }
}

.dropdown-fundos {
  max-width: fit-content !important;
  width: fit-content !important;
  border-radius: 4px;
}

.idiomas-menu-mobile {
  margin-top: 24px;
  padding-bottom: 16px;

  border-bottom: 1px solid rgb(199, 199, 199);
}

.idiomas-menu-mobile {
  display: flex;

  .active-idioma {
    border-right: 1px solid black;
    padding-right: 8px;
    p {
      font-weight: 900 !important;
    }
  }

  .itens-idioma:last-child {
    padding-left: 8px;
  }

  .itens-idioma {
    display: flex;
    gap: 8px;
    align-items: center;

    p {
      color: var(--grayscale-Black, #111);

      /* 📦 library/Text/lg, bold */
      font-family: Verdana;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
  }
}

.social-mobile {
  padding-top: 16px;
  border-top: 1px solid #474747;

  h1 {
    color: var(--Font-Text-text-color-medium, #474747);

    /* Body/md-regular */
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }

  .itens-social {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;

    .itens {
      display: flex;
      gap: 10px;
      flex-direction: column;

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        color: var(--Font-Text-text-color-medium, #474747);

        /* Body/md-regular */
        font-family: Verdana;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
    }
  }
}

.portal-investidor {
  border-top: 1px solid #474747;
  padding-top: 16px;
  padding-bottom: 40px;
  a {
    text-decoration: none;
    color: var(--Menu-Canal-color-menu-canal-default, #474747);

    /* Menu/Mobile/default */
    font-family: Verdana;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
  }
}
